**/.classpath
**/.dockerignore
**/.DS_Store
**/.env
**/.git
**/.github
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/docker-compose*
**/Dockerfile*
**/imgs
**/tests
LICENSE
README.md