#========================================================================
# Copyright 2020 Joao Vitor Alves Fazolo
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
# 
# This program is released under license GNU GPL v3+ license.
#
#========================================================================

version: '3'

services:
    boca-web:
        volumes:
            - ./src:/var/www/boca/src

    boca-postgres:
        ports: 
            - 5432:5432
        volumes: 
            - db-data:/var/lib/postgresql/data

    boca-adminer:
        image: adminer
        restart: unless-stopped
        ports:
            - 8080:8080

volumes:
    db-data:
